<!-- In src/app/_forms/text-input/text-input.component.html -->
<div class="mb-3">
  <label class="form-label">{{ formattedLabel }}</label>
  <input
    [class.is-invalid]="control.touched && control.invalid"
    [type]="type()"
    class="form-control"
    [formControl]="control"
    placeholder="Enter {{ label() }}"
  />

  <div *ngIf="control.hasError('required') && control.touched" class="invalid-feedback">
    Please enter {{ label() }}
  </div>
  <div *ngIf="control.hasError('minlength')" class="invalid-feedback">
    {{ formattedLabel }} must be at least {{ control.errors?.['minlength'].requiredLength }} characters
  </div>
  <div *ngIf="control.hasError('maxlength')" class="invalid-feedback">
    {{ formattedLabel }} must be at most {{ control.errors?.['maxlength'].requiredLength }} characters
  </div>
  <div *ngIf="control.hasError('isMatching')" class="invalid-feedback">
    Passwords do not match
  </div>
  <div *ngIf="control.hasError('passwordStrength')" class="invalid-feedback">
    Password must contain at least one lowercase letter, one uppercase letter, one number, and one special character
  </div>
  <div *ngIf="control.hasError('email')" class="invalid-feedback">
    Please enter a valid email address
  </div>
</div>
