/* verification.component.css */
.verification-code {
  font-size: 1.75rem;
  letter-spacing: 0.75rem;
  text-align: center;
  font-weight: bold;
}

.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
.bg-primary {
  border-top-left-radius: 10px!important;
  border-top-right-radius: 10px!important;
}
